.clear:before, .clear:after {
  content: ' ';
  display: table; }

.clear {
  *zoom: 1; }
  .clear:after {
    clear: both; }

html {
  font-size: 16px; }

body, html {
  font-family: "Rubik", sans-serif;
  color: #1d262f; }

.btn--jtech {
  height: 50px;
  border-radius: 25px;
  background-color: #45afe3;
  color: #ffffff;
  padding-left: 28px;
  padding-right: 28px;
  letter-spacing: 4px;
  font-size: .875rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 13px;
  padding-bottom: 13px; }
  .btn--jtech:focus, .btn--jtech.focus {
    box-shadow: none; }
  .btn--jtech:active, .btn--jtech.active, .btn--jtech:hover {
    background-color: #2099d5;
    color: #ffffff; }
  .btn--jtech.has-shadow {
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2); }
    .btn--jtech.has-shadow:hover {
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2); }
  .btn--jtech.btn--yellow {
    background-color: #fac40a;
    color: rgba(29, 38, 47, 0.7); }
    .btn--jtech.btn--yellow:active, .btn--jtech.btn--yellow.active, .btn--jtech.btn--yellow:hover {
      background-color: #f0bb05;
      color: #1d262f; }
  .btn--jtech.btn--inverted {
    background-color: #ffffff;
    color: #45afe3; }
  .btn--jtech.btn--outline {
    border-color: #eaeaea;
    color: #45afe3;
    border-width: 2px;
    background: transparent; }
    .btn--jtech.btn--outline:active, .btn--jtech.btn--outline.active, .btn--jtech.btn--outline:hover {
      color: #ffffff;
      background-color: #45afe3;
      border-color: #45afe3; }

.form-control::-webkit-input-placeholder {
  color: #9fa4a8;
  opacity: 1; }

.form-control:-ms-input-placeholder {
  color: #9fa4a8;
  opacity: 1; }

.form-control::placeholder {
  color: #9fa4a8;
  opacity: 1; }

.custom-select,
.form-control {
  font-family: "Open Sans", sans-serif;
  border-color: #eaeaea;
  height: 50px;
  border-radius: 8px;
  border-width: 2px;
  font-weight: normal;
  padding-left: 20.1px;
  padding-right: 20.1px; }
  .custom-select:focus,
  .form-control:focus {
    color: #1d262f;
    border-color: #b7b7b7;
    outline: 0;
    box-shadow: none !important; }

.pagination-circle .page-item {
  margin: 0 5px; }
  .pagination-circle .page-item .page-link {
    border-radius: 20px;
    width: 40px;
    height: 40px;
    color: #1d262f;
    background: #eaeaea;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    text-align: center;
    font-weight: 700;
    border-width: 0; }
  .pagination-circle .page-item:hover .page-link {
    color: #45afe3; }
  .pagination-circle .page-item.disabled .page-link {
    color: #9fa4a8; }
  .pagination-circle .page-item.active .page-link,
  .pagination-circle .page-item.active:hover .page-link {
    background: #45afe3;
    color: #ffffff; }

::-moz-selection {
  background: #1d262f;
  color: #ffffff;
  text-shadow: none; }

::selection {
  background: #1d262f;
  color: #ffffff;
  text-shadow: none; }

header {
  height: 120px;
  padding-left: 15px;
  padding-right: 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  z-index: 2; }
  header .logo, header .main-nav {
    -ms-flex-align: center;
        align-items: center; }
  header .header-cta {
    display: none; }
  header .nav-contact {
    display: block; }

.main-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0; }
  .main-nav li {
    font-size: 1rem;
    margin: 0 15px;
    font-weight: 500; }
    .main-nav li > a {
      color: #9fa4a8;
      text-decoration: none;
      padding: 8px 0;
      display: block;
      transition: color ease 0.3s; }
    .main-nav li:hover > a {
      color: #1d262f; }
    .main-nav li.active > a,
    .main-nav li.active:hover > a {
      color: #1d262f;
      box-shadow: inset 0 -2px 0 0 #45afe3; }

.main-content section h3 {
  margin-bottom: 30px; }

.main-content section .lead {
  margin-bottom: 22.5px;
  font-size: 1.2rem;
  line-height: 2rem; }

.main-content section p:not(.lead) {
  font-family: "Open Sans", sans-serif;
  line-height: 1.8rem; }

.main-content .img-lead {
  border-radius: 10px;
  margin-bottom: 22.5px;
  overflow: hidden;
  position: relative;
  overflow: hidden; }
  .main-content .img-lead:before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 56.25%; }
  .main-content .img-lead .media-content {
    position: absolute;
    top: -999999px;
    left: -999999px;
    right: -999999px;
    bottom: -999999px;
    margin: auto;
    width: 100%; }

.sidebar {
  margin-bottom: 45px; }
  .sidebar h4 {
    font-size: 1.25rem; }
  .sidebar .latest-events {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0; }
    .sidebar .latest-events li {
      margin-bottom: 30px; }
      .sidebar .latest-events li > a {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
            align-items: center;
        text-decoration: none; }
        .sidebar .latest-events li > a .thumb-wrap {
          border-radius: 10px;
          width: 120px;
          overflow: hidden;
          position: relative;
          overflow: hidden; }
          .sidebar .latest-events li > a .thumb-wrap:before {
            content: "";
            display: block;
            width: 100%;
            padding-top: 100%; }
          .sidebar .latest-events li > a .thumb-wrap .media-content {
            position: absolute;
            top: -999999px;
            left: -999999px;
            right: -999999px;
            bottom: -999999px;
            margin: auto;
            width: 100%; }
          .sidebar .latest-events li > a .thumb-wrap .media-content {
            width: auto;
            height: 100%;
            transition: transform ease-in-out .2s; }
        .sidebar .latest-events li > a .caption {
          margin-left: 22.5px;
          -ms-flex: 1;
              flex: 1; }
          .sidebar .latest-events li > a .caption .date {
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #9fa4a8;
            font-size: .875rem;
            display: block;
            margin-bottom: 5px; }
          .sidebar .latest-events li > a .caption .title {
            display: block;
            color: #1d262f;
            font-size: 1rem;
            font-weight: 700;
            font-family: "Rubik", sans-serif;
            transition: color ease-in-out .2s; }
      .sidebar .latest-events li:hover > a .thumb-wrap .media-content {
        -ms-transform: rotate(5deg) scale(1.1);
            transform: rotate(5deg) scale(1.1); }
      .sidebar .latest-events li:hover > a .caption .title {
        color: #45afe3; }

footer {
  background: #131a22;
  color: #6c7783;
  margin-top: 60px;
  font-size: .875rem;
  position: relative;
  text-align: center; }
  footer .footer-col {
    padding: 5px 0; }
  footer .footer {
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.4); }
  footer .logo-bottom {
    margin: 45px 0; }
    footer .logo-bottom img {
      width: auto;
      max-width: 100%; }
  footer h4 {
    padding: 0;
    margin: 0;
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 1rem; }
  footer p {
    margin-bottom: 30px;
    line-height: 1.6rem; }
  footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    margin-bottom: 30px; }
    footer ul li {
      font-size: .875rem;
      display: block; }
      footer ul li > a {
        color: #6c7783;
        padding: 3.75px 0;
        text-decoration: none;
        display: block;
        transition: color ease 0.3s; }
      footer ul li:hover > a {
        color: #ffffff;
        text-decoration: none; }

.sticky-social {
  width: 50px;
  min-height: 50px;
  border-radius: 25px;
  position: fixed;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  right: 10px;
  z-index: 990;
  background: rgba(0, 0, 0, 0.24);
  text-align: center;
  overflow: hidden;
  padding: 10px 0;
  display: none; }
  .sticky-social a {
    color: #ffffff;
    width: 50px;
    height: 50px;
    display: block;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    text-decoration: none; }

.burger-button {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #fac40a;
  top: 30px;
  right: 15px;
  z-index: 998;
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  content: "";
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  cursor: pointer; }
  .burger-button span, .burger-button span:before, .burger-button span:after {
    width: 24px;
    height: 2px;
    background: rgba(29, 38, 47, 0.7);
    content: "";
    position: relative;
    transition: all .5s ease-in-out; }
  .burger-button span:before {
    position: absolute;
    top: -6px; }
  .burger-button span:after {
    position: absolute;
    top: 6px; }
  .burger-button.active span {
    background-color: transparent; }
    .burger-button.active span:before {
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
      top: 0; }
    .burger-button.active span:after {
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
      top: 0; }

section {
  padding: 40px 0;
  position: relative; }
  section h3 {
    color: #1d262f;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 700;
    padding: 0;
    margin-bottom: 15px; }
    section h3 > span {
      position: relative; }
      section h3 > span:after {
        height: 3px;
        background: #fac40a;
        content: "";
        position: absolute;
        bottom: 2px;
        left: 0;
        right: 0; }
  section h4 {
    color: #1d262f;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0;
    margin-bottom: 20.1px; }
  section p.lead {
    color: #9fa4a8;
    font-size: 1.125rem;
    line-height: 2rem;
    font-weight: 300; }

.section--hero {
  padding: 60px 0;
  padding-top: 150px;
  margin-top: -120px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 1; }
  .section--hero:after {
    content: "";
    background: linear-gradient(-120deg, #45afe3, #0066a4);
    background-blend-mode: screen;
    -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    position: absolute;
    z-index: -1; }
  .section--hero h1 {
    font-weight: 700;
    font-size: 2.7rem; }
  .section--hero p {
    color: #9fa4a8;
    font-weight: 300;
    margin-bottom: 2.5rem;
    font-size: 1.4rem;
    line-height: 1.9rem; }
  .section--hero .btn-cta-hero {
    padding-right: 70px;
    position: relative;
    display: none; }
    .section--hero .btn-cta-hero .icon {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      background: #45afe3;
      top: 8px;
      right: 8px;
      line-height: 40px;
      color: #ffffff;
      z-index: 2;
      display: block;
      position: absolute;
      font-size: 20px; }
      .section--hero .btn-cta-hero .icon > i {
        margin-left: 6px;
        position: relative;
        top: 1px; }

.hero-img {
  position: relative; }
  .hero-img img {
    width: auto;
    max-width: 80%;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    display: block; }
    .hero-img img.img-hero {
      animation: hero-img 6s ease-in-out infinite; }
    .hero-img img.img-shadow {
      position: absolute;
      margin: auto;
      top: 0;
      right: auto;
      left: 0;
      z-index: 1;
      animation: shadow-img 5s ease-in-out infinite; }

.circle-pernik {
  width: 28px;
  height: 28px;
  border-radius: 14px;
  box-shadow: inset 0 0 0 8px #45afe3;
  content: "";
  position: absolute;
  top: 30%;
  left: 0;
  z-index: 4;
  animation: pernik-circle 3s ease-in-out infinite; }
  .circle-pernik:nth-child(3) {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    top: auto;
    left: auto;
    bottom: 10px;
    right: 24%;
    animation: none; }
  .circle-pernik:nth-child(4) {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.1);
    top: 5%;
    left: 80px;
    animation: none; }

.cross-pernik {
  width: 18px;
  height: 6px;
  background: #e5e5e5;
  content: "";
  position: absolute;
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  bottom: -10px;
  right: 54%;
  z-index: 4;
  animation: pernik-cross-1 5s ease-in-out infinite; }
  .cross-pernik:after {
    width: 18px;
    height: 6px;
    background: #e5e5e5;
    content: "";
    position: absolute;
    -ms-transform: rotate(90deg);
        transform: rotate(90deg); }
  .cross-pernik:nth-child(6) {
    background: #45afe3;
    bottom: 45%;
    right: 0;
    -ms-transform: rotate(60deg);
        transform: rotate(60deg);
    animation: pernik-cross-2 6s ease-in-out infinite; }
    .cross-pernik:nth-child(6):after {
      background: #45afe3; }

.rounded-pernik {
  width: 28px;
  height: 28px;
  border-radius: 10px;
  box-shadow: inset 0 0 0 6px rgba(0, 0, 0, 0.1);
  content: "";
  position: absolute;
  top: -5%;
  left: 50%;
  margin-left: -16px;
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  z-index: 4;
  animation: pernik-rounded-1 3s ease-in-out infinite; }
  .rounded-pernik:nth-child(8) {
    width: 20px;
    height: 20px;
    border-radius: 6px;
    box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.1);
    top: 80%;
    left: 0;
    margin-left: 0; }

@keyframes shadow-img {
  50% {
    transform: rotate(10deg); } }

@keyframes hero-img {
  50% {
    transform: translateY(10px) rotate(-2deg); } }

@keyframes pernik-circle {
  50% {
    transform: translateY(5px); } }

@keyframes pernik-cross-1 {
  50% {
    transform: rotate(95deg); } }

@keyframes pernik-cross-2 {
  50% {
    transform: rotate(-80deg) translateY(-20px) translateX(10px); } }

@keyframes pernik-rounded-1 {
  50% {
    transform: rotate(95deg); } }

.section--featured-clients {
  background: #f6f6f6;
  position: relative; }
  .section--featured-clients .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
  .section--featured-clients .logo-container {
    margin-left: -15px;
    margin-right: -15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -ms-flex-pack: center;
        justify-content: center; }
    .section--featured-clients .logo-container .client-logo {
      margin: 15px;
      -ms-flex: 0 1 calc(33.333333% - 30px);
          flex: 0 1 calc(33.333333% - 30px);
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      text-align: center;
      padding: 5px; }
      .section--featured-clients .logo-container .client-logo > img {
        width: auto;
        max-width: 100%;
        opacity: .4;
        transition: opacity ease-in-out .3s; }
      .section--featured-clients .logo-container .client-logo:hover > img {
        opacity: 1; }
  .section--featured-clients h4 {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    text-align: center; }

.macbook {
  position: absolute;
  left: 0;
  z-index: 1;
  top: 50%;
  max-height: 891px;
  display: none; }

.section--about {
  position: relative; }
  .section--about .lead {
    margin-bottom: 22.5px; }
  .section--about .about-caption {
    text-align: left; }

.section--service {
  background: #f6f6f6; }
  .section--service .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
  .section--service .service-container {
    margin-left: -15px;
    margin-right: -15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -ms-flex-pack: end;
        justify-content: flex-end; }
  .section--service .service-card {
    -ms-flex: 0 1 calc(100% - 30px);
        flex: 0 1 calc(100% - 30px);
    border-radius: 20px;
    padding: 15px;
    margin: 0 15px;
    margin-bottom: 15px;
    background: #ffffff;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.04);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
    .section--service .service-card .caption-wrap {
      margin-left: 15px;
      -ms-flex: 1;
          flex: 1; }
      .section--service .service-card .caption-wrap h4 {
        padding: 0;
        margin: 0;
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 7.5px; }
      .section--service .service-card .caption-wrap p {
        padding: 0;
        margin: 0;
        font-size: .75rem;
        color: #9fa4a8; }
    .section--service .service-card .icon-wrap {
      width: 70px;
      height: 70px;
      border-radius: 100%;
      background: rgba(0, 0, 0, 0.03);
      position: relative;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; }
      .section--service .service-card .icon-wrap img {
        width: auto;
        max-width: 40px; }
      .section--service .service-card .icon-wrap:before {
        position: absolute;
        width: 55px;
        height: 55px;
        border-radius: 100%;
        background: rgba(0, 0, 0, 0.03);
        content: "";
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; }
      .section--service .service-card .icon-wrap:after {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background: rgba(0, 0, 0, 0.03);
        content: "";
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; }

.section--latest-event .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }

.section--latest-event .event-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-pack: center;
      justify-content: center;
  margin-left: -15px;
  margin-right: -15px; }
  .section--latest-event .event-container .event-thumbnail {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    margin: 0 15px;
    margin-bottom: 15px;
    -ms-flex: 0 1 calc(100% - 30px);
        flex: 0 1 calc(100% - 30px);
    box-shadow: 0 10px 28px 0 rgba(0, 0, 0, 0.08); }
    .section--latest-event .event-container .event-thumbnail:before {
      content: "";
      display: block;
      width: 100%;
      padding-top: 50%; }
    .section--latest-event .event-container .event-thumbnail .media-content {
      position: absolute;
      top: -999999px;
      left: -999999px;
      right: -999999px;
      bottom: -999999px;
      margin: auto;
      width: 100%; }
    .section--latest-event .event-container .event-thumbnail .event-title {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5);
      z-index: 1;
      padding: 20px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      text-align: center;
      font-size: 1.125rem;
      transition: transform ease-in-out .3s, opacity ease-in-out .6s; }
      .section--latest-event .event-container .event-thumbnail .event-title > span {
        padding: 10px 0;
        transition: box-shadow ease-in-out .2s; }
      .section--latest-event .event-container .event-thumbnail .event-title:hover > span {
        box-shadow: inset 0 -2px 0 0 #ffffff; }
    .section--latest-event .event-container .event-thumbnail a {
      color: #ffffff; }

.section--cta {
  padding: 0; }
  .section--cta .cta-box {
    border-radius: 20px;
    padding: 30px;
    color: #ffffff;
    overflow: hidden; }
    .section--cta .cta-box h3, .section--cta .cta-box .lead {
      color: #ffffff;
      position: relative;
      z-index: 3; }
    .section--cta .cta-box .lead {
      margin-bottom: 30px; }

.business-unit {
  padding: 0; }

.business-unit-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-pack: center;
      justify-content: center;
  margin-left: -7.5px;
  margin-right: -7.5px; }
  .business-unit-container .business-unit {
    -ms-flex: 0 1 calc(50% - 15px);
        flex: 0 1 calc(50% - 15px);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    margin: 7.5px;
    border-radius: 10px;
    background: #eaeaea;
    padding: 30px;
    text-align: center; }
    .business-unit-container .business-unit img {
      width: auto;
      max-width: 100%; }

.our-client-container {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  margin-bottom: 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-pack: start;
      justify-content: flex-start; }
  .our-client-container:last-child {
    margin-bottom: 0; }
  .our-client-container li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    margin: 0;
    position: relative;
    padding: 60px 30px; }
    .our-client-container li:after {
      content: "";
      background: #ddd;
      width: 1px;
      right: 0;
      top: 30px;
      bottom: 30px;
      position: absolute; }
    .our-client-container li:before {
      content: "";
      background: #ddd;
      height: 1px;
      bottom: 0;
      left: 30px;
      right: 30px;
      position: absolute; }
    .our-client-container li img {
      width: auto;
      max-width: 100%; }

.bod section:first-child {
  background: #fafafa; }

.bod section:last-child {
  padding-bottom: 0; }

.the-team {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-pack: start;
      justify-content: flex-start;
  margin-left: -7.5px;
  margin-right: -7.5px; }
  .the-team .team-item {
    -ms-flex: 0 1 calc(50% - 15px);
        flex: 0 1 calc(50% - 15px);
    border-radius: 20px;
    padding: 22.5px 15px;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.04);
    text-align: center;
    margin: 7.5px;
    background: #ffffff;
    overflow-wrap: break-word;
    overflow: hidden; }
    .the-team .team-item h4 {
      margin-bottom: 5px;
      font-size: .875rem;
      font-weight: 700;
      text-transform: uppercase;
      min-width: 0; }
    .the-team .team-item p {
      padding: 0;
      margin: 0;
      color: #9fa4a8;
      font-size: .875rem;
      min-width: 0;
      line-height: 1.2rem !important;
      position: relative;
      padding-top: 5px;
      margin-top: 10px; }
      .the-team .team-item p:after {
        width: 30px;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 2px;
        background: #fac40a;
        content: "";
        position: absolute; }
    .the-team .team-item .ava-wrap {
      width: 90px;
      height: 90px;
      border-radius: 100%;
      background: rgba(0, 0, 0, 0.03);
      position: relative;
      margin-bottom: 22.5px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      overflow: hidden; }
      .the-team .team-item .ava-wrap img {
        width: auto;
        max-width: 100%; }

.event-page-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-pack: start;
      justify-content: flex-start;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 30px; }
  .event-page-container .event-item {
    -ms-flex: 0 1 calc(100% - 30px);
        flex: 0 1 calc(100% - 30px);
    margin: 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
    .event-page-container .event-item .event-thumbnail {
      position: relative;
      overflow: hidden;
      border-radius: 10px;
      background: #eaeaea;
      width: 120px;
      overflow: hidden; }
      .event-page-container .event-item .event-thumbnail:before {
        content: "";
        display: block;
        width: 100%;
        padding-top: 100%; }
      .event-page-container .event-item .event-thumbnail .media-content {
        position: absolute;
        top: -999999px;
        left: -999999px;
        right: -999999px;
        bottom: -999999px;
        margin: auto;
        width: 100%; }
      .event-page-container .event-item .event-thumbnail .media-content {
        width: auto;
        height: 100%;
        transition: width ease-in-out 0.3s, transform ease-in-out 0.3s; }
    .event-page-container .event-item .caption {
      margin-left: 22.5px;
      -ms-flex: 1;
          flex: 1; }
      .event-page-container .event-item .caption .date {
        letter-spacing: 2px;
        color: #9fa4a8;
        text-transform: uppercase;
        font-size: .875rem; }
      .event-page-container .event-item .caption h4 {
        padding: 0;
        margin: 0;
        font-size: 1rem;
        margin-top: 5px; }
        .event-page-container .event-item .caption h4 a {
          color: #1d262f;
          text-decoration: none;
          transition: color ease-in-out 0.3s; }
    .event-page-container .event-item:hover .media-content {
      -ms-transform: rotate(5deg) scale(1.1);
          transform: rotate(5deg) scale(1.1); }
    .event-page-container .event-item:hover .caption h4 a {
      color: #45afe3; }

.event-detail {
  padding-bottom: 0; }
  .event-detail .event-heading {
    margin-bottom: 30px; }
    .event-detail .event-heading .date {
      letter-spacing: 2px;
      color: #9fa4a8;
      text-transform: uppercase;
      font-size: .875;
      position: relative; }
      .event-detail .event-heading .date:before {
        position: absolute;
        width: 60px;
        height: 4px;
        content: "";
        background: #fac40a;
        left: 0;
        top: -14px; }

.social-share-this {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  margin: 30px 0 15px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center; }
  .social-share-this li {
    font-size: 1rem;
    padding: 5px; }
    .social-share-this li:first-child {
      padding-left: 0;
      margin-right: 22.5px;
      font-weight: 700; }
    .social-share-this li > a {
      background: #eaeaea;
      color: #1d262f;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      text-decoration: none; }

.contact {
  padding-bottom: 0; }
  .contact .contact-form {
    margin-bottom: 60px; }
    .contact .contact-form .form-group {
      margin-bottom: 15px; }
    .contact .contact-form .custom-select,
    .contact .contact-form .form-control {
      text-align: left; }
    .contact .contact-form textarea.form-control {
      margin-bottom: 30px;
      height: 150px;
      resize: none;
      padding-top: 15px;
      padding-bottom: 15px; }

.contact-ways h4 {
  padding: 0;
  margin: 0;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 1.125rem; }

.contact-ways p {
  margin-bottom: 30px;
  color: #6c7783; }

@media only screen and (min-width: 320px) {
  .section--hero:after {
    width: 300px;
    height: 600px;
    border-radius: 100px;
    top: auto;
    right: -60%;
    bottom: 40%; } }

@media only screen and (min-width: 320px) and (max-width: 360px) {
  .our-client-container li {
    -ms-flex: 0 1 calc(100% / 2);
        flex: 0 1 calc(100% / 2);
    padding: 45px 37.5px; }
    .our-client-container li:nth-child(2):after, .our-client-container li:nth-child(2n+2):after {
      display: none; }
    .our-client-container li:nth-child(2n+1):nth-last-child(-n+2):before,
    .our-client-container li:nth-child(2n+1):nth-last-child(-n+2) ~ li:before {
      display: none; } }

@media only screen and (min-width: 361px) and (max-width: 480px) {
  .our-client-container li {
    -ms-flex: 0 1 calc(100% / 3);
        flex: 0 1 calc(100% / 3);
    padding: 60px 24px; }
    .our-client-container li:nth-child(3):after, .our-client-container li:nth-child(3n+3):after {
      display: none; }
    .our-client-container li:nth-child(3n+1):nth-last-child(-n+3):before,
    .our-client-container li:nth-child(3n+1):nth-last-child(-n+3) ~ li:before {
      display: none; } }

@media only screen and (min-width: 375px) {
  .section--service .service-container {
    margin-left: -7.5px;
    margin-right: -7.5px; }
  .section--service .service-card {
    -ms-flex: 0 1 calc(50% - 15px);
        flex: 0 1 calc(50% - 15px);
    margin: 7.5px;
    padding-top: 22.5px;
    display: block; }
    .section--service .service-card .caption-wrap {
      text-align: center;
      margin: 0; }
    .section--service .service-card .icon-wrap {
      margin: 0 auto;
      margin-bottom: 15px; } }

@media only screen and (max-width: 480px) {
  .section--about .about-caption .btn--jtech,
  .section--cta .cta-box .btn--jtech,
  .contact-form .btn--jtech {
    width: 100%;
    display: block; } }

@media only screen and (min-width: 480px) {
  .btn--jtech.btn--lg {
    height: 60px;
    border-radius: 30px;
    font-size: 1rem; }
  section {
    padding: 60px 0; }
    section h3 {
      font-size: 1.6rem;
      line-height: 2.4rem; }
    section h4 {
      font-size: 1.3rem; }
  .section--hero:after {
    width: 800px;
    height: 900px;
    border-radius: 150px;
    right: -120%;
    bottom: 40%; }
  .hero-img {
    padding-bottom: 50px; }
  .circle-pernik:not(:nth-child) {
    left: -30px !important; }
  .section--featured-clients .logo-container .client-logo {
    padding: 10px 15px; }
  .section--service .service-card .caption-wrap p {
    font-size: .875rem; }
  .section--latest-event .event-container {
    margin-left: -7.5px;
    margin-right: -7.5px; }
    .section--latest-event .event-container .event-thumbnail {
      -ms-flex: 0 1 calc(50% - 15px);
          flex: 0 1 calc(50% - 15px);
      margin: 7.5px; }
  .the-team .team-item {
    padding: 45px 22.5px; }
    .the-team .team-item .ava-wrap {
      margin-bottom: 30px; }
    .the-team .team-item h4 {
      letter-spacing: 4px; }
  .the-team.the-team--5 .team-item {
    padding: 45px 22.5px; } }

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .our-client-container li {
    -ms-flex: 0 1 calc(100% / 3);
        flex: 0 1 calc(100% / 3);
    padding: 60px 30px; }
    .our-client-container li:nth-child(3):after, .our-client-container li:nth-child(3n+3):after {
      display: none; }
    .our-client-container li:nth-child(3n+1):nth-last-child(-n+3):before,
    .our-client-container li:nth-child(3n+1):nth-last-child(-n+3) ~ li:before {
      display: none; } }

@media only screen and (min-width: 768px) {
  header {
    padding-left: 30px;
    padding-right: 30px; }
  section {
    padding: 120px 0; }
    section h3 {
      margin-bottom: 30px; }
    section h4 {
      margin-bottom: 30px; }
  .section--hero {
    height: auto;
    padding-top: 180px;
    padding-bottom: 80px; }
    .section--hero:after {
      width: 800px;
      border-radius: 150px;
      right: -70%;
      bottom: -60%; }
    .section--hero h1 {
      margin-top: 30px; }
    .section--hero .btn-cta-hero {
      display: block; }
  .hero-img {
    padding-bottom: 0; }
    .hero-img img {
      max-width: 100%; }
  .cross-pernik:nth-child(6) {
    background: #ffffff;
    right: -40px; }
    .cross-pernik:nth-child(6):after {
      background: #ffffff; }
  .section--featured-clients {
    padding: 90px 0; }
    .section--featured-clients .logo-container .client-logo {
      padding: 15px 22.5px;
      margin: 15px;
      -ms-flex: 0 1 calc(25% - 30px);
          flex: 0 1 calc(25% - 30px); }
    .section--featured-clients h4 {
      margin-bottom: 0; }
  .macbook {
    display: block;
    max-height: 752px;
    margin-top: -282px;
    left: -50%; }
  .section--service .service-container {
    -ms-flex-pack: center;
        justify-content: center; }
  .section--service .service-card {
    -ms-flex: 0 1 calc(33.333% - 15px);
        flex: 0 1 calc(33.333% - 15px);
    padding: 30px 15px; }
  .section--cta .cta-box {
    padding: 60px; }
  .contact .contact-form .form-group {
    margin-bottom: 30px; }
  .contact .contact-form textarea.form-control {
    height: 280px; }
  .event-page-container .event-item {
    -ms-flex: 0 1 calc(50% - 30px);
        flex: 0 1 calc(50% - 30px); }
  .the-team .team-item {
    -ms-flex: 0 1 calc(25% - 15px);
        flex: 0 1 calc(25% - 15px);
    padding: 30px 15px; }
    .the-team .team-item .ava-wrap {
      width: 100px;
      height: 100px; }
    .the-team .team-item h4 {
      font-size: .875rem;
      letter-spacing: 2px; }
  .the-team.the-team--5 .team-item {
    -ms-flex: 0 1 calc(25% - 15px);
        flex: 0 1 calc(25% - 15px); }
    .the-team.the-team--5 .team-item .ava-wrap {
      width: 100px;
      height: 100px; }
    .the-team.the-team--5 .team-item h4 {
      font-size: .875rem; }
  .main-content section {
    padding: 60px 0; }
  .pagination-circle .page-item {
    margin: 0 10px; }
    .pagination-circle .page-item .page-link {
      border-radius: 25px;
      width: 50px;
      height: 50px; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .our-client-container li {
    -ms-flex: 0 1 calc(100% / 4);
        flex: 0 1 calc(100% / 4);
    padding: 60px 39px; }
    .our-client-container li:nth-child(4):after, .our-client-container li:nth-child(4n+4):after {
      display: none; }
    .our-client-container li:nth-child(4n+1):nth-last-child(-n+4):before,
    .our-client-container li:nth-child(4n+1):nth-last-child(-n+4) ~ li:before {
      display: none; } }

@media only screen and (min-width: 1024px) {
  .burger-button {
    display: none; }
  .btn--jtech {
    padding-left: 40px;
    padding-right: 40px; }
  header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    transition: background-color ease .3s, height ease .3s, box-shadow ease .3s; }
    header.shrink {
      background-color: #ffffff;
      height: 100px;
      box-shadow: 0 10px 28px 0 rgba(0, 0, 0, 0.06); }
    header.header--inner-page {
      background: #ffffff;
      box-shadow: 0 10px 28px 0 rgba(0, 0, 0, 0.06); }
    header .header-cta {
      display: block; }
    header .nav-mobile-only {
      display: none; }
  section {
    padding: 120px 0; }
    section.section--lg {
      padding-top: 200px;
      padding-bottom: 200px; }
    section h3 {
      font-size: 2.5rem;
      line-height: 3.5rem;
      margin-bottom: 45px; }
    section h4 {
      font-size: 1.875rem; }
    section p.lead {
      font-size: 1.3rem;
      line-height: 2.5rem; }
  .main-content {
    margin-top: 120px;
    min-height: 40vh; }
    .main-content section .img-lead, .main-content section .lead {
      margin-bottom: 30px; }
  .main-nav {
    display: -ms-flexbox;
    display: flex; }
  .section--hero {
    padding: 100px 0;
    padding-top: 220px;
    margin-top: 0; }
    .section--hero:after {
      width: 1000px;
      border-radius: 240px;
      top: auto;
      right: -55%;
      bottom: -25%; }
    .section--hero h1 {
      font-size: 4.3rem;
      margin-top: 0; }
    .section--hero p {
      font-size: 1.5rem;
      line-height: 2.5rem; }
  .section--featured-clients .logo-container .client-logo {
    padding: 15px 30px; }
  .section--featured-clients h4 {
    text-align: left; }
    .section--featured-clients h4 span {
      display: block; }
  .section--about .lead {
    margin-bottom: 75px; }
  .section--about .about-caption {
    text-align: right; }
  .macbook {
    max-height: 712.8px;
    margin-top: -407.31429px;
    left: -15%; }
  .section--service .service-container {
    margin-left: -15px;
    margin-right: -15px; }
  .section--service .service-card {
    -ms-flex: 0 1 calc(25% - 30px);
        flex: 0 1 calc(25% - 30px);
    margin: 15px;
    padding: 30px;
    border-radius: 40px; }
    .section--service .service-card .caption-wrap h4 {
      font-size: 1.1rem;
      margin-bottom: 12px; }
    .section--service .service-card .caption-wrap p {
      font-size: 1rem; }
    .section--service .service-card .icon-wrap {
      width: 120px;
      height: 120px;
      margin-bottom: 30px; }
      .section--service .service-card .icon-wrap img {
        max-width: 60px; }
      .section--service .service-card .icon-wrap:before {
        width: 100px;
        height: 100px; }
      .section--service .service-card .icon-wrap:after {
        width: 80px;
        height: 80px; }
    .section--service .service-card:nth-child(4), .section--service .service-card:first-child {
      position: relative;
      top: 50%;
      -ms-transform: translateY(50%);
          transform: translateY(50%); }
  .section--cta .cta-box {
    border-radius: 40px;
    padding: 90px 60px; }
  .section--latest-event .event-container {
    margin-left: -15px;
    margin-right: -15px; }
    .section--latest-event .event-container .event-thumbnail {
      position: relative;
      overflow: hidden;
      margin: 15px;
      -ms-flex: 0 1 calc(50% - 30px);
          flex: 0 1 calc(50% - 30px); }
      .section--latest-event .event-container .event-thumbnail:before {
        content: "";
        display: block;
        width: 100%;
        padding-top: 62.5%; }
      .section--latest-event .event-container .event-thumbnail .media-content {
        position: absolute;
        top: -999999px;
        left: -999999px;
        right: -999999px;
        bottom: -999999px;
        margin: auto;
        width: 100%; }
  footer {
    font-size: 1rem; }
    footer .logo-bottom {
      margin-bottom: 60px;
      margin-top: 30px; }
    footer .footer-col {
      padding: 60px 0; }
    footer .footer {
      padding: 30px 0; }
    footer ul li {
      font-size: 1rem; }
  .sticky-social {
    display: block; }
  .business-unit-container {
    margin-left: -15px;
    margin-right: -15px; }
    .business-unit-container .business-unit {
      -ms-flex: 0 1 calc(33.33333% - 30px);
          flex: 0 1 calc(33.33333% - 30px);
      margin: 15px;
      border-radius: 40px;
      padding: 60px 30px; }
  .our-client-container li {
    -ms-flex: 0 1 calc(100% / 6);
        flex: 0 1 calc(100% / 6);
    padding: 39px 30px; }
    .our-client-container li:nth-child(6):after, .our-client-container li:nth-child(6n+6):after {
      display: none; }
    .our-client-container li:nth-child(6n+1):nth-last-child(-n+6):before,
    .our-client-container li:nth-child(6n+1):nth-last-child(-n+6) ~ li:before {
      display: none; }
  .contact .contact-form {
    margin-bottom: 0; }
  .contact-ways {
    text-align: right; }
  .event-page-container .event-item {
    -ms-flex: 0 1 calc(33.33333% - 30px);
        flex: 0 1 calc(33.33333% - 30px); }
  .the-team {
    margin-left: -15px;
    margin-right: -15px; }
    .the-team .team-item {
      -ms-flex: 0 1 calc(25% - 30px);
          flex: 0 1 calc(25% - 30px);
      margin: 15px; }
      .the-team .team-item .ava-wrap {
        width: 120px;
        height: 120px; }
      .the-team .team-item h4 {
        letter-spacing: 4px; }
    .the-team.the-team--5 .team-item {
      -ms-flex: 0 1 calc(20% - 30px);
          flex: 0 1 calc(20% - 30px);
      padding: 22.5px 15px; }
      .the-team.the-team--5 .team-item .ava-wrap {
        width: 100px;
        height: 100px; }
      .the-team.the-team--5 .team-item h4 {
        letter-spacing: 2px; } }

@media only screen and (min-width: 1200px) {
  .main-nav li {
    margin: 0 30px; }
  section {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
  .section--hero {
    height: 100vh;
    padding: 0; }
    .section--hero:after {
      width: 1600px;
      border-radius: 300px;
      right: -70%;
      bottom: -20%; }
    .section--hero h1 {
      margin-top: 110px;
      font-size: 5rem;
      margin-bottom: 30px; }
    .section--hero p {
      font-size: 1.75rem;
      margin-bottom: 60px; }
  .hero-img {
    margin-top: 60px; }
  .section--featured-clients {
    min-height: auto; }
    .section--featured-clients .logo-container {
      margin-left: 30px; }
  .macbook {
    max-height: 801.9px;
    margin-top: -501.1875px;
    left: -10%; }
  .section--service h3 {
    margin-bottom: 75px; }
  .section--service .service-card {
    padding: 37.5px 30px; }
    .section--service .service-card h4 {
      font-size: 1.25rem; }
  .section--cta .cta-box {
    padding: 90px 45px; }
  .contact .lead {
    margin-bottom: 60px; }
  .contact .contact-form textarea.form-control {
    margin-bottom: 60px; }
  footer {
    margin-top: 90px;
    text-align: left; }
    footer h4 {
      font-size: 1.2rem; }
    footer p {
      line-height: 2rem; }
    footer ul li > a {
      padding: 6px 0; }
  .sticky-social {
    right: 30px; }
  .main-content section {
    padding-top: 120px; }
    .main-content section h3 {
      margin-bottom: 60px; }
    .main-content section .lead {
      font-size: 1.25rem;
      line-height: 2.4rem; }
    .main-content section .img-lead {
      border-radius: 20px;
      margin-bottom: 45px;
      position: relative;
      overflow: hidden; }
      .main-content section .img-lead:before {
        content: "";
        display: block;
        width: 100%;
        padding-top: 50%; }
      .main-content section .img-lead .media-content {
        position: absolute;
        top: -999999px;
        left: -999999px;
        right: -999999px;
        bottom: -999999px;
        margin: auto;
        width: 100%; }
  .business-unit-container .business-unit {
    -ms-flex: 0 1 calc(25% - 30px);
        flex: 0 1 calc(25% - 30px); }
  .our-client-container li {
    -ms-flex: 0 1 calc(100% / 6);
        flex: 0 1 calc(100% / 6);
    padding: 60px 45px; }
    .our-client-container li:nth-child(6):after, .our-client-container li:nth-child(6n+6):after {
      display: none; }
    .our-client-container li:nth-child(6n+1):nth-last-child(-n+6):before,
    .our-client-container li:nth-child(6n+1):nth-last-child(-n+6) ~ li:before {
      display: none; }
  .event-page-container .event-item {
    -ms-flex: 0 1 calc(25% - 30px);
        flex: 0 1 calc(25% - 30px);
    display: block; }
    .event-page-container .event-item .event-thumbnail {
      position: relative;
      overflow: hidden;
      width: 100%;
      margin-bottom: 10px; }
      .event-page-container .event-item .event-thumbnail:before {
        content: "";
        display: block;
        width: 100%;
        padding-top: 62.5%; }
      .event-page-container .event-item .event-thumbnail .media-content {
        position: absolute;
        top: -999999px;
        left: -999999px;
        right: -999999px;
        bottom: -999999px;
        margin: auto;
        width: 100%; }
    .event-page-container .event-item .caption {
      margin-left: 0; }
      .event-page-container .event-item .caption h4 {
        font-size: 1.125rem; }
  .bod section {
    padding: 60px 0; }
    .bod section:first-child {
      padding: 120px 0; }
  .the-team .team-item {
    -ms-flex: 0 1 calc(25% - 30px);
        flex: 0 1 calc(25% - 30px);
    padding: 45px 30px; }
    .the-team .team-item .ava-wrap {
      width: 140px;
      height: 140px; }
    .the-team .team-item h4 {
      font-size: 1rem; }
  .the-team.the-team--5 .team-item {
    -ms-flex: 0 1 calc(20% - 30px);
        flex: 0 1 calc(20% - 30px);
    padding: 30px 15px; }
    .the-team.the-team--5 .team-item .ava-wrap {
      width: 120px;
      height: 120px; }
    .the-team.the-team--5 .team-item h4 {
      font-size: .875rem; } }

@media only screen and (min-width: 1366px) {
  .container {
    max-width: 1200px; }
  header {
    padding-left: 48px;
    padding-right: 48px; }
  .section--hero:after {
    right: -55%; }
  .macbook {
    max-height: 694.98px;
    margin-top: -463.32px;
    left: 0; } }

@media only screen and (min-width: 1600px) {
  .container {
    max-width: 1280px; }
  .section--hero h1 {
    font-size: 5.7rem; }
  .section--hero p {
    font-size: 1.875rem; }
  .macbook {
    max-height: 757.35px;
    margin-top: -473.34375px; } }

@media only screen and (min-width: 1920px) {
  .section--hero:after {
    right: -30%;
    bottom: -20%; }
  .macbook {
    margin-top: -495px; } }

@media only screen and (max-width: 1023px) {
  html.overlay-menu,
  body.overlay-menu {
    overflow: hidden !important; }
  .main-nav {
    z-index: 997;
    transition: visibility .3s ease-in-out, opacity .3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-direction: column;
        flex-direction: column;
    position: fixed;
    text-align: center;
    padding: 30px;
    background: rgba(0, 0, 0, 0.95);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto; }
    .main-nav li {
      display: block;
      width: 100%;
      padding: 10px;
      font-size: 1.5rem;
      position: relative;
      left: -100%;
      transition: left .3s ease-in-out;
      transition-delay: .3s; }
      .main-nav li:nth-child(2) {
        transition-delay: .4s; }
      .main-nav li:nth-child(3) {
        transition-delay: .5s; }
      .main-nav li:nth-child(4) {
        transition-delay: .6s; }
      .main-nav li:nth-child(5) {
        transition-delay: .7s; }
      .main-nav li:nth-child(6) {
        transition-delay: .8s; }
      .main-nav li > a {
        color: #ffffff; }
      .main-nav li:hover > a {
        color: #45afe3; }
      .main-nav li.active > a,
      .main-nav li.active:hover > a {
        color: #fac40a;
        box-shadow: none; }
  .main-nav.mobile-overlay {
    visibility: visible;
    opacity: 1; }
    .main-nav.mobile-overlay li {
      left: 0; } }
